<%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <title>Kiadások</title>
</head>
<%- include('./include/navigation.ejs' ) %>
<body>
    <div class="main">

    </div>
</body>
</html>