<%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Bejelentkezés</title>
</head>
<%- include('./include/navigation.ejs' %)
<body>
    <div>
        <div class="row">
            <div class="col-6">
                <h2></h2>
                <input type="text" id="usernameInput">
                <input type="text" id="passwordInput">
                <button>Bejelentkezés</button>
            </div>
            <div class="col-6">
                <img src="" alt="">
            </div>
        </div>
    </div>
</body>
</html>