<%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Regisztráció</title>
</head>
<body>
    <div class="register-conatiner">
        <div class="register-box">
            <h2>Üdvözlünk újra a "NÉV" oldalon, <br> kérlek  add meg az adataidat <br> a regisztrációhoz </h2>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="Felhasználónév">
                </div>
                <div class="input-group">
                    <input type="text" placeholder="Jelszó">
                    <input type="text" placeholder="Jelszó újra">
                </div>
    
                <a href="/login" class="has-user">Már van felhasználód</a>
                <button type="submit">Regisztráció</button>
            </form>
        </div>
        <div class="image">
            <img src="../img/finance1.png" alt="finac image">
        </div>
    </div>
</body>
</html>