<div class="popup" id="add-expense-menu" style="display: none">
  <form onsubmit="addTransaction(event)" id="add-expense-form">
    <label for="description">Leírás</label>
    <input type="text" name="description" />
    <label for="amount">Ár</label>
    <input type="number" name="amount" />
    <label for="category">Kategória</label>
    <input type="text" name="category" />
    <p id="expense-error" class="error"></p>
    <button class="comfirm" type="submit">Hozzáadása</button>
  </form>
  <button class="close" onclick="changeMenuState('add-expense-menu')">X</button>
</div>
