<header>
  <nav>
    <div class="logo">
      <span><img src="/img/hand.png" alt="logo" /></span>
      <!-- nem mukodik for some reason -->
      <h1>GBD Banking</h1>
    </div>
    <div>
      <a href="/profil">Profil</a>
      <a href="/settings">Beállítások</a>
      <span class="user-icon">👤</span>
    </div>
  </nav>
</header>
