<nav>
  <span>Menu</span>
  <span>Profile</span>
</nav>
<div class="menu"></div>
<div class="profile-menu">
  <a href="/profil">Profil</a>
  <a href="/settings">Beállítások</a>
  <a href="/logout">Kijelentkezés</a>
</div>
