<header>
  <nav>
    <div class="logo">
      <span><img src="/img/hand.png" alt="logo" /></span>
      <!-- nem mukodik for some reason -->
      <h1>GBD Banking</h1>
    </div>
    <div>
      <button class="user-icon" id="menu-click" onclick="changeMenuState()">
        👤
      </button>
    </div>
  </nav>
  <div class="menu" id="menu-container" style="display: none">
    <a href="/profil">Profil</a>
    <a href="/settings">Beállítások</a>
    <a href="/logout">Kijelentkezés</a>
  </div>
</header>
