<div class="popup" id="profile-menu" style="display: none">
  <form onsubmit="changePassword(event)" id="change-password-form">
    <h2><b>Jelszó változtatása</b></h2>
    <br />
    <input
      type="password"
      name="password"
      required
      placeholder="Jelszó"
    /><br /><br />
    <input
      type="password"
      name="new-password"
      required
      placeholder="Új jelszó"
    /><br /><br />
    <input
      type="password"
      name="new-password-again"
      required
      placeholder="Jelszó újra"
    /><br /><br />
    <p id="profile-error" class="error"></p>
    <button type="submit" class="confirm">Módosítás</button>
  </form>
  <button class="close" onclick="changeMenuState('profile-menu')">X</button>
</div>
